<span *ngFor="let n of numSequence(10); let i=index">
  <input type="radio" [name]=propertyRated [id]="i + ' '+ propertyRated" (click)="functionToExec(i)"/>
</span>
<br>
<span *ngFor="let n of numSequence(10); let i=index">
  <label [for]="i + ' ' + propertyRated">{{'_' + (i+1) + ','}}</label>
</span>
{{constants.GUT_LEGEND_1}} 
<!-- I'll add the legend using propertyRated, uppercase pipe and *ngFor -->
<ng-content select="[tooltip]"></ng-content>
<ng-content select="[skin-legend]"></ng-content>
