<span *ngFor="let n of numSequence(10); let i=index">
  <label (mouseover)="legendSet(i, propertyRated)" [for]="i + '-' + propertyRated" class="radio-container">
    <input (mouseover)="legendSet(i, propertyRated)" type="radio" class="radio-input" [name]=propertyRated
    [id]="i + '-'+ propertyRated" (click)="functionToExec(i)"/>
    <span class="radio-checkmark"></span>
    <span class="radio-number">{{i+1}}</span>
    <!-- {{'_' + (i+1) + ','}} -->
  </label>
</span>
<!-- <br> -->
<!-- <span *ngFor="let n of numSequence(10); let i=index" class="radio-labels">
</span> -->
<label class="tooltip">?</label>
<div [id]="propertyRated + '-legend'">
  <div *ngFor="let n of numSequence(10); let i = index;">
    <ng-template [ngIf]="(propertyRated | uppercase) +'_LEGEND_' + (i+1)" let-x="ngIf">
    <!-- This is desugared microsyntax. E.g. 
         *ngIf="exp as value" turns to <ng-template [ngIf]="exp" let-value="ngIf"> -->
      <div>{{i+1}} - {{constants[x]}}</div> 
      <!-- Properties can be accessed using square brackets too.
           constants.SKIN_LEGEND_1 is the same as constants['SKIN_LEGEND_1'] -->
    </ng-template>  
  </div>
</div>


<div [id]="propertyRated+'SingleLegend'"></div>