.tooltip:hover + #skin-legend,
.tooltip:hover + #gut-legend,
.tooltip:hover + #hair-legend  { 
    /* Do I want to do this with JS instead to be able to quickly add other categories? */
    display: block;
}

#skin-legend,
#gut-legend,
#hair-legend {
    display: none;
    background-color: rgb(155, 155, 155);
    position: absolute;
    padding: 20px 25px 20px 25px;
    left: 350px;
    top: 150px;
    border-radius: 15px;
}

.tooltip {
    background-color: rgb(255, 196, 0);
    position: relative;
    left: 20px;
    top: -20px;
    padding: 10px 1em 10px 1em;
    border-radius: 50%;
}