
span:hover ~ [id$="SingleLegend"]{
    display: block !important;
}

[id$="SingleLegend"] {
    display: none;
}

[id$="-legend"] {
    display: none;
    background-color: rgb(155, 155, 155);
    position: absolute;
    padding: 20px 25px 20px 25px;
    left: 350px;
    top: 150px;
    border-radius: 15px;
}

.tooltip {
    background-color: #ffc400;
    position: relative;
    left: 20px;
    top: 0px;
    padding: 10px 1em 10px 1em;
    border-radius: 50%;
}

.tooltip:hover {
    background-color: #dcb01d;
}

.tooltip:hover + [id$="-legend"] {
    display: block !important;
}

/* Edit the radio buttons */
.radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* .radio-input:checked ~ .radio-checkmark {

} */

.radio-checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffc400;
    border-radius: 50%;
}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    left: 6px;
    top: 6px;
    background-color: #ffffff;
    border-radius: 50%;
}

.radio-input:checked ~ .radio-checkmark:after {
    display: block;
}

.radio-container:hover .radio-checkmark {
    background-color: #dcb01d;
}

.radio-container {
    display: inline-flex;
    padding: 20px, 20px;
    width: 20px;
    margin: 3px;
    flex-wrap: wrap;
    text-align: center;
}

.radio-number {
    margin: auto;
    padding-top: 2px;
}