#wrapper {
    display: grid;
    grid-template-columns: [important-start] 2fr [important-end] 1fr;
    grid-template-rows: [urgent-start] 2fr [urgent-end] 1fr;
    width: 600px;
    background-color: teal;
}

#important-urgent,
#important-not-urgent,
#not-important-urgent,
#not-important-not-urgent {
    padding: 20px;
}