<h3>Skin</h3>
<app-health-rate [propertyRated]="'skin'"
                 [functionToExec]="setSkinRating"
                 id="skin-rating">
                </app-health-rate>
<!-- setSkinRating without the () gives the function itself as a parameter -->
<h4>Skin rating {{skinRating?"for today is " + skinRating:"is not set yet"}}</h4>

<h3>Gut</h3>
<app-health-rate [propertyRated]="'gut'"
                 [functionToExec]="setGutRating"
                 id="gut-rating">
                </app-health-rate>
<h4>Gut rating {{gutRating?"for today is " + gutRating:"is not set yet"}}</h4>

<h3>Hair</h3>
<app-health-rate [propertyRated]="'hair'"
                 [functionToExec]="setHairRating"
                 id="hair-rating">
                </app-health-rate>
<h4>Hair rating {{hairRating?"for today is " + hairRating:"is not set yet"}}</h4>
